.menu-cart-section {
    display: flex;
    flex-direction: row;
    width: '100%';
}

.restaurant-information{
    padding: 20px;
}

.menu {
    width: 52%;
}

.cart {
    width: 40%;
}

.space {
    width: 8%
}

.padding-5per {
    padding: 5%;
}

.padding-2per-left {
    padding-left: 40px;
}
.grey-color-font {
    color: grey;
}

.grey-color-bg {
    background-color: #e8e9eb;
}

.menu-cart-section {
    flex-wrap: wrap;
}
